/* Header 영역 */
.mainHeader {
  position: relative;
  width: 75px;
  height: 100vh;
  border: 2px dotted #A7E6FF;
}

.mainHeader h1 {
  border: 2px dotted #A7E6FF;
  margin-bottom: 10px;
}

.mainHeader img {
  width: 75px;
  height: auto;
}

.mainHeader nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeader nav ul li {
  list-style: none;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.mainHeader nav ul li:hover {
  transform: scale(1.2);
}

button#headerMap,
button#headerAnalysis {
  height: 60px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


button#headerMap span,
button#headerAnalysis span {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  flex-shrink: 1;
  font-size: 12px;
}

.icon {
  font-size: 25px;
}

#user {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #A7E6FF;
  background-color: rgb(239, 239, 239);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
}

/* ----------Header 영역 ---------------  */

/* Header.css */

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  marginRight: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgroundColor: 'rgba(0, 0, 0, 0.75)';
  zIndex: 2000;
}