.signupInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.signupContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    /* 높이 조정 */
    padding: 20px;
    border-radius: 20px;
    /* 모서리 둥글게 */
    /*box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;  그림자 효과 추가 */
    justify-content: center;
    /* 수직 정렬 */
    align-items: center;
    /* 수평 정렬 */
}

.social-links {
    margin: 20px 0;
}

.social-links div {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.social-links div:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.social-links a {
    color: #000;
}

.overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-right {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #ff4b2b;
    color: #fff;
}

.overlay-right h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.overlay-right p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.overlay_btn {
    background-color: #ff4b2b;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 45px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 10px #ff6b3f, 5px 5px 8px #bf4b2b;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    /* 애니메이션 추가 */
}

.overlay_btn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.form_btn {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.form_btn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.signupContainer form {
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form h1 {
    font-weight: bold;
    margin: 0;
    color: #000;
}

.signupContainer span {
    font-size: 0.75rem;
    color: #000;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    background-color: #e8f0fe;
    padding: 16px;
    margin: 8px 0;
    width: 85%;
    border: none;
    /* 경계선 없애기 */
    outline: none;
    border-radius: 20px;
}

.inputGroup {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.labelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 15px;
}

.inputField {
    flex-grow: 1;
    background: #e8f0fe;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.submitButton {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    background-color: #ff4b2b;
    color: #fff;
}

.submitButton:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.backButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.backButton {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 300px;
    padding: 10px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    background-color: #f0f0f0;
    color: #000;
}

.backButton:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.radioGroup {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 10px;
}

.radioGroup label {
    margin-left: 10px;
    margin-right: 20px;
}